Options -Indexes
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule [^0-9] - [L]
    RewriteCond %{HTTP_USER_AGENT} Twitterbot [OR]
    RewriteCond %{HTTP_USER_AGENT} facebookexternalhit
    RewriteRule ^(.+)$ /share/$1.html [L]
    RewriteCond %{HTTP_USER_AGENT} Discordbot
    RewriteRule ^(.+)$ /share/$1d.html [L]
    RewriteCond %{REQUEST_URI} ^/[0-9]+$
    RewriteRule . / [L,R=301]
</IfModule>