@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, body > div {
        @apply w-full h-full text-gray-100 bg-gray-800;
    }
    a {
        @apply underline text-primary-300;
    }
    a:active {
        @apply text-primary-100;
    }
    button:active:not([disabled]) {
        @apply rounded text-black bg-primary-100;
    }
    *:focus-visible {
        @apply rounded;
        outline: 2px solid theme("colors.primary.100") !important;
    }
}