@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        @apply h-full;
    }
    a {
        @apply underline;
        @apply text-primary-500;
    }
    a:active {
        @apply text-primary-100;
    }
    button:active:not([disabled]) {
        @apply text-black;
        @apply bg-primary-100;
    }
    input {
        outline: none !important;
        border: 0;
    }
    canvas {
        @apply absolute;
        @apply left-0;
        @apply top-0;
        @apply w-full;
    }
    mark {
        @apply bg-primary-700;
        @apply text-white;
        @apply rounded;
    }
    .autocomplete:not(:hover) > .selected {
        @apply bg-primary-900;
    }
}