@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body,
	body > div {
		@apply h-full w-full bg-background text-text;
	}
	a {
		@apply text-link underline;
	}

	a:hover {
		@apply text-link-hover;
	}

	a:active {
		@apply text-link-active;
	}

	*:focus-visible {
		@apply rounded !outline !outline-2 !outline-outline;
	}

	.vhd {
		@apply absolute left-[-1000vw] top-0;
	}

	@keyframes ping {
		0% {
			@apply outline-accent/100;
			outline-offset: -3px;
		}
		50%,
		100% {
			@apply outline-accent/0;
			outline-offset: 20px;
		}
	}
	.ping {
		@apply outline outline-[3px] outline-accent/100;
		animation: ping 1s infinite ease-out;
	}
}
