@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        @apply h-full;
    }
    a {
        @apply underline;
        @apply text-primary-500;
    }
    a:active {
        @apply text-primary-100;
    }
    button:active:not([disabled]) {
        @apply text-black;
        @apply bg-primary-100;
    }
    *:focus-visible {
        outline: 2px solid theme(colors.primary.100) !important;
    }
}