location /scripts {
    return 403;
}

location ~ ^/(\d+) {
    set $shareredirect 0;
    if ($http_user_agent ~ (Twitterbot|facebookexternalhit|Mastodon|Misskey|Tumblr)) {
        set $shareredirect "";
    }
    if ($http_user_agent ~ (Discordbot)) {
        set $shareredirect "d";
    }

    if ($shareredirect = 0) {
        return 302 /;
    }
    rewrite ^/(\d+) /share/$1$shareredirect.html;
}
